* {
	padding: 0;
	margin: 0;
	font-family: 'consolas', 'MicroSoft Yahei';
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
a {
	color: #fff;
	text-decoration: none;
	}
a:hover {
	color: #0f0;
	}
body {
	background: url('img/backgound2.jpg') fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
	}
table {
	width: 90%;
	font-size: 18px;
	margin: 60px auto;
	border: 1px #fff solid;
	border-collapse: collapse;
	}
table tr:nth-child(odd){
	color: #fff;
	line-height: 38px;
	text-align: center;
	background: rgba(0, 255, 0, 0.2);
	border: 1px rgba(255, 255, 255, 0.8) solid;
	}
table tr:nth-child(even){
	color: #fff;
	line-height: 38px;
	text-align: center;
	background: rgba(0, 255, 255, 0.2);
	border: 1px rgba(255, 255, 255, 0.8) solid;
	}
table tr:hover {
	background: rgba(255, 255, 255, 0.2);
	}
table tr td, th {
	border: 1px rgba(0, 255, 0, 0.8) solid;
	}
form {
	width:500px;
	color: #fff;
	font-size: 17px;
	margin: 60px auto;
	border-radius: 30px;
	font-weight: lighter;
	padding: 60px 60px 60px 200px;
	background: rgba(97, 54, 145, 0.2);
	}
input[type='text'],input[type='password'],input[type='date'],input[type='email'],input[type='tel'] {
	color: #fff;
	width: 200px;
	height: 28px;
	margin: 10px 0;
	font-size: 16px;
	padding-left: 5px;
	border-radius: 3px;
	border: 1px solid #fff;
	background: rgba(97, 54, 145, 0.2);
	}
input[type='radio'], input[type='checkbox'] {
	margin: 15px 12px 15px 8px;
	}
select {
	color: #fff;
	width: 100px;
	height: 28px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #fff;
	background: rgba(97, 54, 145, 0.2);
	}
textarea {
	color: #fff;
	width: 300px;
	height: 60px;
	padding: 10px;
	font-size: 16px;
	border-radius: 6px;
	margin: 15px 12px 0 0;
	border: 1px solid #fff;
	background: rgba(97, 54, 145, 0.2);
	}
form input[type='button'], form input[type='submit'] {
	width: 80px;
	height: 30px;
	color: #fff;
	font-size: 16px;
	border-radius: 6px;
	margin: 30px 12px 0 0;
	border: 1px solid #fff;
	background: rgba(255, 255, 255, 0.3);
	}
table input[type='button'], table input[type='submit'] {
	color: #fff;
	width: 60px;
	height: 25px;
	font-size: 16px;
	line-height: 22px;
	border-radius: 6px;
	border: 1px solid #fff;
	background: rgba(255, 255, 255, 0.3);
	}
form input[type='button']:hover, form input[type='submit']:hover {
	color: #0f0;
	background: rgba(0, 0, 0, 0.3);
	}
table input[type='button']:hover, table input[type='submit']:hover {
	color: #0f0;background: rgba(0, 0, 0, 0.3);
	}
.page {
	border: 1px solid #ffffff;
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	}
.page:hover {
	background: rgba(255, 255, 255, 0.5);
	color: #ffffff;
	cursor: pointer;
	border: #ffffff solid 1px;
	}
.currentPage {
	background: rgba(255, 255, 255, 0.5);
	color: #ffffff;
	cursor: pointer;
	border: #ffffff solid 1px;
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	}